.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.layout__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.layout__content {
  flex: 1;
  padding: 1.5rem;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .layout__content {
    padding: 1rem;
  }
}
